<div class="container mt-5">

    <h1 class="text-center mb-5 bg-primary text-white shadow">List of all Students</h1>

    <ng-container *ngIf="students; else elseTemplate">
        <table class="table table-striped shadow">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <th scope="row">{{student.id}}</th>
                <td>{{student.nom}}</td>
                <td>{{student.prenom}}</td>
                <td>{{student.email}}</td>
                <td class="">
                  <a class="btn btn-primary" routerLink="/students/{{student.id}}">Details</a>
                </td>
              </tr>
            </tbody>
          </table>
    </ng-container>

    <ng-template #elseTemplate>
        <h3 class="text-center">No Student for the moment. Please wait !!!!!!!!!!</h3>
    </ng-template>

</div>
